.booking-form {
  margin: 0 auto;
  max-width: 800px;
  input[type="text"], input[type="email"], input[type="time"], input[type="date"], select {
    width: 100%;
    padding: 1rem 0.5rem;
    margin-bottom: 1rem;
  }
  input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    margin-right: 1rem;
  }
  input[type="submit"] {
    width: 90%;
    padding: 1rem;
    margin: 2rem auto;

  }

  .submit-button {
    text-align: center;
  }
}
