.map {
  width: 100%;
  padding: 0;
  iframe {
    width:100%;
    border: none;
  }
}

.form-box {
  width:50%;
  padding: 0;

}

.contact-form {
    width: 100%;
    margin: 0;
    background-color: rgba($brand-color, 1);
    font-family: sans-serif;
    padding: 2rem;
}
#signup-form {
  width:100%;
  background-color: white;
  .btn{
    color:$mid-grey;
    &:hover{
      background-color: $brand-color;
    }
  }
}

input[type="text"],input[type="password"], #form-message {
    display: block;
    width: 100%;
    background-color: #1D1D1E;
    border: none;
    outline: none;
    line-height: 2.5;
    // border: 0.1rem solid $dark-grey;
}
input[type="submit"]{
    background-color: transparent;
    margin-top: 2rem;
    width: 100%;
    font-size: 1rem;
    // border: 0.1rem solid $dark-grey;
}
