.vote-banner {
  background-color: $dark-grey;
  opacity: 0.9;
  height: 100vh;
  display: flex;

}

.v-dash {
  width:70%;
  margin: auto;
  padding: 3rem;
  h1 {
    font-size: 7rem;
    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
      font-size: 5rem;
      line-height: 1;
      padding:2rem;
    }
    @media screen and (max-width: $mobile-max){
      font-size: 3rem;
      line-height: 1;
      padding:1rem;

    }
  }
}
