#bg-bar {
  background-color: rgba(255, 255, 255, 0.65);
  ul {
    background-color: transparent;
  }
}

//
// // This file contains styles that are specific to the home page.
// // -----------------------------------------------------------------------------
// .page-banner {
//   background: url("../img/Canada_Parliament_Buildings.jpg") no-repeat center center fixed;
//   background-size: cover;
//   overflow: auto;
//
//
// }
// .covervid-video {
//     width: 100wh;
//     height: 100vh;
//     filter: grayscale(100%);
//     position: relative;
//       @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
//         display: none;
//       }
// }
// .covervid-wrapper{
//     height: 100vh;
//     width: 100wh;
//     padding: 0;
//     margin: 0;
//     overflow: hidden;
//
// }
// .home-banner {
//   padding: 0;
//   position: relative;
// }
// .banner {
//   // margin-top: 10vh;
//   position: absolute;
//   width:100%;
//   height:100vh;
//   top: 0;
//   right:0;
//   // background-color: $bg-color;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     height: 100vh;
//   }
//   @media screen and (max-width: $mobile-max) {
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     height: 100vh;
//
//   }
//
// }
// .bars {
//   display: flex;
//   margin:0;
//   width:25%;
//   height:100vh;
//
//   &:first-child{
//     background-color: $ndp;
//     opacity: 0.8;
//   }
//   &:nth-child(2){
//     background-color: $green;
//     opacity: 0.8;
//   }
//   &:nth-child(3){
//     background-color: $liberal;
//     opacity: 0.8;
//   }
//   &:nth-child(4){
//     background-color: $conservative;
//     opacity: 0.8;
//   }
//   @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
//     width: 100%;
//     height: 100vh;
//     h1{
//       font-size: 2rem;
//       text-align: left;
//
//     }
//   }
//   @media screen and (max-width: $mobile-max) {
//       width: 100%;
//       height: 100vh;
//
//
//   }
//
// }
