#bg-bar {
  background-color: $bg-color;

  ul {
    background-color: transparent;
  }
}
.orbit-container {
  padding: 0;
}
.features {
  background-color: $bg-color;
  padding: 2rem;
}
.feat {
  padding: 2rem;
}
.callout {
  padding: 3rem;
}
.thumbs {
  background-color: $lw;
  padding: 5rem;
}
.lead {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text-center {
  padding: 3rem;
  .btn{
    padding: 2rem;
    background-color: rgb(217, 97, 21);
    border: 0.1rem solid rgb(217, 97, 21);
    &:hover{
      background-color: transparent;
      border: 0.1rem solid rgb(217, 97, 21);

    }
  }
}
