#bg-bar {
  background-color: $bg-color;

  ul {
    background-color: transparent;
  }
}
.active {
  border-right: 0.2rem solid $brand-color;
  border-left:0.2rem solid $brand-color;
}
.orbit-container {
  padding: 0;
}
.features {
  background-color: $bg-color;
  padding: 2rem;

  @media screen and (max-width: $mobile-max){
    padding: 1rem;
  }
}
.feat {
  padding: 2rem;
  @media screen and (max-width: $mobile-max){
    padding: 1rem;
  }
}
.callout {
  padding: 3rem;
  @media screen and (max-width: $mobile-max){
    padding: 1rem;
  }
}
.thumbs {
  background-color: $lw;
  padding: 5rem;
  // @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
  //     width:20rem;
  // }
  @media screen and (max-width: $mobile-max){
    padding: 1rem;
  }
}
.lead {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text-center {
  padding: 3rem;
  @media screen and (max-width: $mobile-max){
    padding: 1.5rem;
  }
  .btn{
    padding: 2rem;
    background-color: rgba(154, 100, 61, 0.98);
    border: 0.1rem solid rgba(154, 100, 61, 0.98);
    &:hover{
      background-color: transparent;
      border: 0.1rem solid rgba(154, 100, 61, 0.98);
      color: $brand-color;

    }
    @media screen and (max-width: $mobile-max){
      margin: 0.2rem;
    }
  }
}
.p-img {
    border-radius: 50%;
    border: 0.1rem solid $light-grey;
    margin: 3rem;
    padding: 2rem;

}
.about-text {
  padding: 5rem;
}
