.inner-banner {
  position: relative;
  height: 40vh;
  overflow: hidden;
  background-color: rgb(13, 180, 130);

}
.page-title {
  position: absolute;
  top:25vh;
  left:10%;
  padding: 1rem 3rem;
  .head-hr {
    background-color: #fff;
    border-color: #fff;
  }
  h1 {
    color: #fff;
  }
  p {
    font-style: italic;
  }
}
.packages {
  background-color: #fff;
  padding:0;
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
    padding: 1rem;

  }
  @media screen and (max-width: $mobile-max){
    padding: 1rem;
  }


}
// .pack-monster {
//   .package-item:first-child {
//     background-color: orange;
//   }
//   .package-item:nth-child(2) {
//     background-color: rgb(233, 81, 33);
//   }
//   .package-item:nth-child(3) {
//     background-color: rgb(7, 200, 194);
//   }
//
// }

.package-item {

  background-color: $brand-color;
  padding: 0;
  // margin-bottom: 1rem;
  &:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  }

  h3 {
    text-align: center;
    font-size: 2rem;
    // background-color: rgb(235, 201, 23);
    color: #fff;
    padding: 1.5rem;
  }
  h2{
    text-align: center;
    color: #fff;
    letter-spacing: 0.3rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 30%;
    padding: 5rem;
    li {
      list-style: none;
      padding: 0.2rem;
      font-size: 1rem;
      color:#fff;

      a {
        &:hover {
          color: $dark-grey;
        }
      }
      img{
        width: 50rem;
        object-fit: cover;
        padding:1rem 0 0 5rem;
      }
    }
    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
      height: 100%;
      justify-content: flex-start;

    }
    @media screen and (max-width: $mobile-max){
      height: 100%;
      justify-content: flex-start;
    }
  }
}
.modal {
  background-color: $brand-color;
  display: none;
  position: fixed;
  top:0; left:0; right:0; bottom:0;
  padding: 5rem;
  .monster {
    max-width:900px;
    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
      width: 500px;
      padding:1rem;

    }
    @media screen and (max-width: $mobile-max){
      width: 500px;
      padding:1rem;
    }
  }
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){

    padding:1rem;

  }
  @media screen and (max-width: $mobile-max){
  
    padding:1rem;
  }
}
.mons {
  padding-bottom: 5rem;
}
