.services-container{
  background-color: $lw;
  padding: 2rem;

  // width:100%;
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
    // width: 50%;
    padding: 1rem;

  }
  @media screen and (max-width: $mobile-max){
    // width: 50%;
    padding: 0.5rem;
  }

}
.books{
  margin-bottom: 6rem;

}
.services-description {
  p{

    text-align: left;
  }
}
.services {
  padding: 0;
}
.img-container {
    position:relative;
    width: 100%;
    height: 70%;
    transition: all 0.7s ease;

    padding: 1rem;
    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
      // width: 50%;
      height: 50%;

    }
    @media screen and (max-width: $mobile-max){
      // width: 50%;

    }

}
/*.img-container:hover{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}*/
.textbox:hover {
    opacity:1;
     -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.textbox {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    

    background-color: rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
    box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
   -webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}
.t-container {
    margin: 2rem auto;
    color: $mid-grey;
    font-style: italic;
    opacity: 0.6;
    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
      // width: 50%;
    margin: 0;

    }
    @media screen and (max-width: $mobile-max){
      margin: 0;

    }
}


.demo {
  .modal-show{
    color: white;
  }
  @media screen and (max-width: $mobile-max){
    position:absolute;
    left:1rem;
    top: 1rem;
    width: 40%;

    .modal-show {
      // width: 30%;
      padding: 0.5rem;
      font-size: 0.8rem;


    }
  }
}
.modal {
  position: fixed;
  z-index: 10000; /* 1 */
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.modal.is-visible {
  visibility: visible;
}

/* Prevent scrolling on <html> when `.modal` is visible */
.no-scroll {
  overflow: hidden;
}

/* Modal Overlay & Container */
.modal-overlay,
.modal-container {
  position: fixed;
  z-index: 90000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease 0.3s, opacity 0.3s ease;
}

.modal-overlay {
  background: hsla(0, 0%, 0%, 0.8);
}

.modal.is-visible .modal-overlay,
.modal.is-visible .modal-container {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

/* 1. Allow scrolling on `.modal-container` in case `.modal-wrapper` is taller than the viewport */
.modal.is-visible .modal-container {
  overflow: auto; /* 1 */
  -webkit-overflow-scrolling: touch; /* 1 */
}

/* Modal Wrapper */
.modal-wrapper {
  position: absolute;
  z-index: 10000;
  top: 3em;
  left: 50%;
  width: 100%;
  max-width: 600px;
  margin-left: -50%;
  background-color: $bg-color;
  box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
}

/* Modal Transition */
.modal-transition {
  transition: visibility 0.3s 0.12s, opacity 0.3s 0.12s, transform 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
}

.modal.is-visible .modal-transition {
  transform: translateY(0);
  opacity: 1;
}

.modal-header,
.modal-content {
  padding: 1em;
}

/* Modal Header */
.modal-header {
  position: relative;
  background-color: $bg-color;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
  border-bottom: 1px solid #e8e8e8;
}

/* Modal Heading */
.modal-heading {
  font-size: 1.125em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Modal Close Button */
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.125em;
  color: $dark-grey;
  background: #fff;
  border: 0;
}

// .modal-close:hover {
//   color: $brand-color;
// }

/* Modal Content */
.modal-content > *:first-child {
  margin-top: 0;
}

.modal-content > *:last-child {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  /* Modal Wrapper */
  .modal-wrapper {
    top: 6em;
    margin-left: -300px;
  }
}
