// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.main-footer {
  background-color: $bg-color;
  padding: 4rem;
  @media screen and (max-width: $mobile-max){
    padding: 3rem;
  }
  h2 {
    text-transform: uppercase;
    text-align: center;
  }
  p {
    text-align: center;
  }
}

.main-footer-social {
  p {
    text-align: center;
  }
  i {
    margin: 1rem;
    font-size: 2rem;
  }
}

.sub-footer {
  padding: 4rem;
  p {
    text-align: center;
  }

}
