
// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.social-nav {
  display: flex;
  align-items: center;
  justify-content: center;


  li {
    width: 5rem;

    a{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3rem;
      border: 0.125rem solid $brand-color;
      border-radius: 50%;
      color: $brand-color;
      &:hover {
          text-decoration: none;
          color: $light-grey;
          background-color: $brand-color;
      }

    }
  }
}
.page-footer {
  background-color:rgba(47, 51, 54, 0.9);
  padding: 4rem;

}
.sub-footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem;
  background-color:$bg-color;
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
      flex-direction: column;
  }
  @media screen and (max-width: $mobile-max){
    flex-direction: column;
  }

}
.footer-info {
  p{
    font-size: 0.9rem;
  }
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
      margin-top: 2rem;
  }

}
.footer-form-box{
    width: 30rem;
    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
        width:20rem;
    }
    @media screen and (max-width: $mobile-max){
      width:15rem;
    }
}
// .overlay {
//   background-color: rgba(40, 44, 52, 0.9);
//   margin: 0;
// }
// .footer-box {
//   // background-color: rgba(40, 44, 52, 0.8);
//   text-align: center;
//   padding: 3rem 0;
//   @media screen and (max-width: $mobile-max){
//     padding: 1.5rem 0;
//
//   }
// }
// .social-icons {
//     margin: 0;
//     padding: 0;
//     list-style-type: none;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     li {
//
//         margin: 0 1rem;
//
//         a {
//           display: flex;
//           justify-content: center;
//           align-items: center;
//             width: 3rem;
//             height: 3rem;
//
//             border: 0.125rem solid $brand-color;
//             border-radius: 50%;
//             color: $brand-color;
//
//             &:hover {
//                 text-decoration: none;
//                 color: $light-grey;
//                 background-color: $brand-color;
//             }
//         }
//       }
//
//
// }
//
//
// .footer-icon {
//   color: $brand-color;
//
// }
//
// .footer-form-box {
//     display: flex;
//     width: 30rem;
//     align-items: stretch;
//     height: 3rem;
//     margin:0 auto;
//     input {
//         flex-grow: 1;
//         border: 2px solid $brand-color;
//         background-color: transparent;
//         padding-left: 1rem;
//         font-size: 0.9rem;
//         &:focus {
//             outline: none;
//             box-shadow: none;
//         }
//     }
//     @media screen and (max-width: $mobile-max){
//       width: 18rem;
//     }
//     button {
//         border-radius: 0;
//         width: 5rem;
//         background-color: $brand-color;
//         border: 2px solid $brand-color;
//         border-left: none;
//         color: $bg-color;
//         &:hover {
//             background-color: transparent;
//             color: $dark-grey;
//         }
//
//     }
// }
