
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
// .bg {
//     background-color: $light-grey;
// }
// .page-header {
//   height: 100vh;
// }
.logo {
    width: 6rem;

    margin:auto;

    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
            // display: block;
            width:7rem;
            // margin-left: 45%;
    }
    @media screen and (max-width: $mobile-max) {
            width: 6rem;
          

    }
}
.side-b {
  position: fixed;
  background-color: $bg-color;
  height: 100vh;
  padding:0 2rem;
  @media screen and (max-width: $mobile-max) {
          position:relative;
          height: 100%;


  }
.mobile-menu {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
}

}
li{
  list-style: none;
}

.main-menu {
  display: flex;
  // display: block;
  padding: 0;
  margin: 2rem 0;
  @media screen and (max-width: $mobile-max) {
    display: none;
    margin-top: 2rem;

    background-color: $bg-color;
  }
  li {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin: auto;
    // height: 4rem;

    &:first-child {
      border: 0.2rem solid $ndp;
      &:hover {
        background-color: $ndp;
      }
    }
    &:nth-child(2) {
      border: 0.2rem solid $green;
      &:hover {
        background-color: $green;
      }
    }
    &:nth-child(3) {
      border: 0.2rem solid $liberal;
      &:hover {
        background-color: $liberal;
      }
    }
    &:nth-child(4) {
      border: 0.2rem solid $conservative;
      &:hover {
        background-color: $conservative;
      }
    }
    &:nth-child(5) {
      border: 0.2rem solid $brand-color;

      &:hover {
        background-color: $brand-color;
        opacity: 0.7;

      }
    }
    &:nth-child(6) {
      border: 0.2rem solid $brand-color;
      background-color: $brand-color;
      &:hover {
        background-color: transparent;
      }
    }
    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
        width: 100%;
        font-size: 0.9rem;
    }
    @media screen and (max-width: $mobile-max){
        width: 100%;
        font-size: 0.8rem;
    }
  }

  a {
    padding: 1rem;
  }

}
.sub-form {

  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 0.8rem;
  input {
    background-color: transparent;
    border: 0.2rem solid $mid-grey;
    padding: 1rem;
    width: 100%;

    color: $mid-grey;
  }
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
      width:100%;
  }
  #send-btn {
    width:100%;
  }
}
.social-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  li {
    flex: 1;
    align-items: center;
    justify-content: center;

  }
}

//
// .main-menu {
//   margin: 2rem 0;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//
//   li{
//     flex:1;
//     list-style: none;
//     font-size: 1rem;
//     padding: 0.5rem;
//
//   }
//   a{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: $text-color;
//     height: 2rem;
//
//     &:hover {
//         color: $dark-grey;
//
//     }
//   }
//
//
// }
// .display {
//     display: block !important;
// }
// .mobile-menu {
//   position:absolute;
//   right: 2rem;
//   top: 4rem;
//   font-size: 2rem;
//   z-index: 100;
//
//
// }
//
//
// .vh {
//   position: absolute;
//   overflow: hidden;
//   clip: rect(0 0 0 0);
//   margin: -1px;
//   padding: 0;
//   width: 1px;
//   height: 1px;
//   border: 0;
// }
//
//
// .demo {
//   // width: 94%;
//   // max-width: 640px;
//   margin: 4rem auto;
//   text-align: center;
//   .modal-show {
//     width: 6rem;
//     float: left;
//   }
//
//
// }
//
// /* Icons */
// .icon {
//   display: inline-block;
//   width: 16px;
//   height: 16px;
//   vertical-align: middle;
//   fill: currentcolor;
// }

/**
 * Modal
 * 1. Ensure this sits above everything when visible
 */
//
.demo {
  @media screen and (max-width: $mobile-max){
    position:absolute;
    left:1rem;
    top: 1rem;
    width: 40%;

    .modal-show {
      // width: 30%;
      padding: 0.5rem;
      font-size: 0.8rem;

    }
  }
}
.modal {
  position: fixed;
  z-index: 1000; /* 1 */
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.modal.is-visible {
  visibility: visible;
}

/* Prevent scrolling on <html> when `.modal` is visible */
.no-scroll {
  overflow: hidden;
}

/* Modal Overlay & Container */
.modal-overlay,
.modal-container {
  position: fixed;
  z-index: 90000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease 0.3s, opacity 0.3s ease;
}

.modal-overlay {
  background: hsla(0, 0%, 0%, 0.8);
}

.modal.is-visible .modal-overlay,
.modal.is-visible .modal-container {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

/* 1. Allow scrolling on `.modal-container` in case `.modal-wrapper` is taller than the viewport */
.modal.is-visible .modal-container {
  overflow: auto; /* 1 */
  -webkit-overflow-scrolling: touch; /* 1 */
}

/* Modal Wrapper */
.modal-wrapper {
  position: absolute;
  z-index: 10000;
  top: 3em;
  left: 50%;
  width: 100%;
  max-width: 600px;
  margin-left: -50%;
  background-color: $bg-color;
  box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
}

/* Modal Transition */
.modal-transition {
  transition: visibility 0.3s 0.12s, opacity 0.3s 0.12s, transform 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
}

.modal.is-visible .modal-transition {
  transform: translateY(0);
  opacity: 1;
}

.modal-header,
.modal-content {
  padding: 1em;
}

/* Modal Header */
.modal-header {
  position: relative;
  background-color: $bg-color;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
  border-bottom: 1px solid #e8e8e8;
}

/* Modal Heading */
.modal-heading {
  font-size: 1.125em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Modal Close Button */
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.125em;
  color: $brand-color;
  background: #fff;
  border: 0;
}

.modal-close:hover {
  color: $brand-color;
}

/* Modal Content */
.modal-content > *:first-child {
  margin-top: 0;
}

.modal-content > *:last-child {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  /* Modal Wrapper */
  .modal-wrapper {
    top: 6em;
    margin-left: -300px;
  }
}
