// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
        width: 10rem;
        padding: 0.5rem 1rem;
        background-color: transparent;
        text-align: center;
        color: $lw;
        border: 0.2rem solid $brand-color;
        background-color: $brand-color;
        a{
          text-decoration: none;
        }
        &:hover {
          border: 0.2rem solid $brand-color;
          background-color: transparent;
          color: $mid-grey;
          cursor: pointer;
        }


}
