// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
        width: 10rem;
        padding: 1rem;
        background-color: transparent;
        text-align: center;
        color: $lw;
        border: 0.1rem solid $btn-banner;
        background-color: $btn-banner;
        a{
          text-decoration: none;
          // &:hover {
          //   color: $mid-grey;
          // }
        }
        &:hover {
          border: 0.1rem solid $btn-banner;
          background-color: transparent;
          color: $dark-grey;
          cursor: pointer;
        }
}

.btn-form {
        width: 10rem;
        padding: 1rem;
        background-color: transparent;
        text-align: center;
        color: $lw;
        border: 0.1rem solid $brand-color;
        background-color: $brand-color;
        a{
          text-decoration: none;
        }
        &:hover {
          border: 0.1rem solid $brand-color;
          background-color: transparent;
          color: $mid-grey;
          cursor: pointer;
        }
}
.btn-banner {
        width: 10rem;
        padding: 1rem;
        background-color: transparent;
        text-align: center;
        color: rgb(255, 255, 255);
        border: 0.2rem solid $btn-banner;
        background-color: transparent;
        a{
          text-decoration: none;
        }
        &:hover {
          border: 0.2rem solid $btn-banner;
          background-color: $btn-banner;
          color: $lw;
          cursor: pointer;
        }
}
